PROJECT_NAME={{project_name}}
APP_ENVIRONMENT=dev
DJANGO_SETTINGS_MODULE=${PROJECT_NAME}.settings.${APP_ENVIRONMENT}
DEBUG=1

SECRET_KEY=changeme4DEV!
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

DEV_SQL_ENGINE=django.db.backends.postgresql
DEV_SQL_PORT=5432

DEV_SECRET_KEY=OnePunchMan
DEV_DEBUG=${DEBUG}
DEV_SQL_HOST=devdb
DEV_SQL_PASSWORD=devKamehameha
DEV_SQL_DBNAME=devpostgres
DEV_SQL_USER=devpostgres


DATABASE=postgres
READ_DOT_ENV_FILE=1

POSTGRES_USER=${DEV_SQL_USER}
POSTGRES_PASSWORD=${DEV_SQL_PASSWORD}
POSTGRES_DB=${DEV_SQL_DBNAME}

SQL_DBNAME=${DEV_SQL_DBNAME}
SQL_USER=${DEV_SQL_USER}
SQL_PASSWORD=${DEV_SQL_PASSWORD}
SQL_HOST=${DEV_SQL_HOST}
SQL_ENGINE=${DEV_SQL_ENGINE}
SQL_PORT=${DEV_SQL_PORT}